{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} 关于"四象限"时间管理 {% endblock %}</h1>
<p>
    时间“四象限”法是美国的管理学家科维提出的一个时间管理的理论，把工作按照重要和紧急两个不同的程度进行了划分，基本上可以分为四个“象限”：既紧急又重要（如客户投诉、即将到期的任务、财务危机等）、重要但不紧急（如建立人际关系、人员培训、制订防范措施等）、紧急但不重要（如电话铃声、不速之客、部门会议等）、既不紧急也不重要（如上网、闲谈、邮件、写博客等）。
</p>

<h2>重要且紧急的事</h2>
<p>
    举例：诸如应付难缠的客户、准时完成工作、住院开刀等等。
这是考验我们的经验、判断力的时刻，也是可以用心耕耘的园地。如果荒废了，我们很会可能变成行尸走肉。但我们也不能忘记，很多重要的事都是因为一拖再拖或事前准备不足，而变成迫在眉睫。
该象限的本质是缺乏有效的工作计划导致本处于“重要但不紧急”第二象限的事情转变过来的，这也是传统思维状态下的管理者的通常状况，就是“忙”。
</p>

<h2>重要但不紧急的事</h2>
<p>....</p>

<h2>不重要但紧急的事</h2>
<p>....</p>

<h2>不重要不紧急的事</h2>
<p>....</p>

{% endblock %}



