{% extends 'base.html' %}

{% block content %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}">
  </head>

<h1>{% block title %} <span class="badge badge-info">{{ post['title'] }}</span> {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="title-tmp"><b>Task Title</b></label>
        <input type="text" name="title-tmp" placeholder="Task Title" class="form-control"
            value="{{ request.form['title-tmp'] or post['title'] }}">
        </input>
    </div>

    <div class="form-group">
        <label for="conten-tmp"><b>Task Content</b></label>
        <textarea name="conten-tmp" placeholder="Tast Contents"
            class="form-control">{{ request.form['内容'] or post['content'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="ttype-tmp"><b>Priority</b></label>
        <select name="ttype-tmp" class="form-control"{{ request.form['ttype-tmpp'] }}>
            <option value="{{post['ttype']}}"selected>{{post['ttype']}}</option>
            <option value="Important, Urgent">Important, Urgent</option>
            <option value="Important, Not Urgent">Important, Not Urgent</option>
            <option value="Urgent, Not Important">Urgent, Not Important</option>
            <option value="Not Important, Not Urgent">Not Important, Not Urgent</option>
         </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
<!--        提交后就重新进入blog.py的app.route()/edit()-->
<!--        同时把表单的title-tmp、conten-tmp数据传入到edit()-->
    </div>

</form>
<hr>
{% endblock %}
